<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="dbcs" connectionString="Data Source=DESKTOP-6S6D5I1;Initial Catalog=ARPITA_HEALTH_CARE;Integrated Security=True" providerName="System.Data.SqlClient"/>
  
      </connectionStrings>
</configuration>